#left_side{
    background-color: violet;
    width: 200px;
    border-radius:10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
#right_side{
    background-color: #31fdb9;
    border-radius: 10px;
    font-weight: lighter;
    width: 70%;
    padding: 10px;
    margin-left: auto;
}
#poster{
    width: 30%;
    height: 300px;
}
#cinema{
    display: flex;
}
body{
    background-color: black;
}
#buy_btn{
    margin-left: 5%;
    border-radius: 50px;
    background-color: green;
    font-weight: bold;
    cursor: pointer;
}
